footer
    div
        h5 Dictators’ Handbook
    div
        p
            |This website is a project developed by Evgeniia Vdovichenko for the course&#023;
            a(href="https://www.unibo.it/en/study/phd-professional-masters-specialisation-schools-and-other-programmes/course-unit-catalogue/course-unit/2024/454464" target="_blank") Information Modeling and Web Technologies
            |&#023;held by
            a(href="https://www.unibo.it/sitoweb/fabio.vitali/" target="_blank") Professor Fabio Vitali
            |.
    div © 2025 Copyright: Evgeniia Vdovichenko