footer
    div.footer_caption
        h5 <span>Dictators’</span> <span>Handbook</span>
    div.footer_links
        p
            |This website is a pro&shy;ject deve&shy;lo&shy;ped by Ev&shy;ge&shy;niia Vdo&shy;vi&shy;chen&shy;ko for the cour&shy;se&#032;
            a(href="https://www.unibo.it/en/study/phd-professional-masters-specialisation-schools-and-other-programmes/course-unit-catalogue/course-unit/2024/454464" target="_blank") In&shy;for&shy;ma&shy;tion Mo&shy;de&shy;ling and Web Tech&shy;no&shy;lo&shy;gi&shy;es
            span.hidden_char &#023;
            |held by
            |&#032;
            a(href="https://www.unibo.it/sitoweb/fabio.vitali/" target="_blank") Pro&shy;fes&shy;sor Fa&shy;bio Vi&shy;ta&shy;li
            span.hidden_char .
    div.footer_copy ©2025 Copyright: Evgeniia Vdovichenko