header
    nav
        ul
            li
                a(href=path + "index.html") Home
            li
                a(href="") About
            li
                Issues
                ul
                    li Stalin
                    ul
                        li
                            a(href=path + "issues/last_days_of_soviet_dictator.html") The Last Days of the Soviet Dictator
                        li
                            a(href=path + "issues/joseph_stalin_paranoid_purge.html") Joseph Stalin's Paranoid Purge
                        li
                            a(href=path + "issues/world_that_made_stalin.html") The World That Made Stalin
            li Change Design
                ul
                    li(data-action="theme" data-value="gzhel") Old Russian Ghzel
                    li(data-action="theme" data-value="suprematism") Suprematism
            li
                a(href="") Documentation
            li
                a(href="") Disclaimer