doctype html
html
    block vars
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title= title
        //link(rel="favicon icon" href="/favicon.svg" type="image/svg+xml")
        link(rel="stylesheet" href=path + "styles/style.css")
        //script(src="/scripts/functions.js")

    body(data-theme=theme)
        .wrapper
            include ./_header
            block content
            include ./_footer
        script(src=path + "utilities/script.js")