@import "./variables.styl"

.gzhel
    footer
        display grid
        padding 2rem 0
        background-image url("../img/ghzel/foot-bord.png")
        background-size auto 1.2rem
        background-position center top
        background-repeat repeat-x
        gap 1rem
        .footer_caption
            color gz-primary
            text-align center
            h5
                font-size 1.25rem
        .footer_links
            p
                text-align justify
                hyphens auto
                margin-bottom 0
                &::first-line
                    margin-left 0
                &::first-letter
                    margin-right .3rem
                    padding-top 1rem
            a
                color gz-primary
                text-decoration underline
        .footer_copy
            color gz-secondary
            font-size 4.3vw
            text-align center

        @media screen and (min-width: 576px)
            grid-template-columns auto 1fr
            gap 1rem 2rem
            .footer_caption
                text-align left
            .footer_copy
                grid-column-start 2
                font-size .8rem
                text-align left
