@import "./variables.styl"

.gzhel
    aside
        grid-row-start 2
        gap 2rem
        display grid
        grid-template-rows auto auto
        h2
            margin 0
        @media screen and (min-width: 1200px)
            grid-row-start 1
            grid-column-start 2
            height calc(100vh - 48px * 2)
            display grid
            grid-template-rows 1fr auto
    .meta_block
        height 100%
        display grid
        gap .5rem
        grid-template-rows auto auto 1fr
        overflow hidden
    .map_block
        height 100%
        display grid
        gqp 1rem
        grid-template-rows auto 1fr
        .map-container
            height 100%
    .meta-names
        display flex;
        justify-content: center;
        gap .5rem
        li
            cursor pointer
            text-align center
            padding 2px 6px
            border-radius .4rem
            color gz-primary
            &.active
                color gz-white
                background-color gz-secondary-50
    .meta-content
        height 100%
        overflow scroll
        & > div
            max-height 100%
            overflow auto
            align-content flex-start
            align-items flex-start
            column-count 2
            column-gap 2rem
            &.active
                display grid
    .meta-line
    .meta-text
        justify-content: center;
        align-items stretch
        .link
            cursor pointer
            display flex
            align-items center
            flex 1
            padding 0 1rem

    [data-type]
        &.show
            text-decoration underline
            color gz-secondary
            transition-property transform
            transition-duration  2s
            &.active
                background-color gz-secondary-10
                transform translate(20px, 0)