.gzhel aside {
  gap: 2rem;
}
.gzhel aside h2 {
  margin: 0;
}
.gzhel .meta_block {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto 1fr;
}
.gzhel .map_block {
  display: grid;
  gqp: 1rem;
  grid-template-rows: auto 1fr;
}
.gzhel .map_block .map-container {
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .gzhel aside {
    position: fixed;
    height: calc(100vh - 48px * 2);
    right: calc(50vw - 550px);
    width: calc(1100px / 5 * 2 - 2rem);
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .gzhel article {
    height: 100%;
  }
}
.gzhel #map {
  border-radius: 50%;
}
.gzhel #map img {
  padding: 0;
  border-radius: 0;
}
.gzhel .meta-names {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.gzhel .meta-names li {
  cursor: pointer;
  text-align: center;
  padding: 2px 6px;
  border-radius: 0.4rem;
  color: #039;
}
.gzhel .meta-names li.active {
  color: #fff;
  background-color: rgba(0,85,204,0.502);
}
.gzhel .meta-content {
  height: 100%;
}
.gzhel .meta-content > div {
  max-height: 100%;
  overflow: auto;
  align-content: flex-start;
  align-items: flex-start;
  column-count: 2;
  column-gap: 2rem;
}
.gzhel .meta-content > div.active {
  display: grid;
}
.gzhel .meta-text {
  justify-content: center;
  align-items: stretch;
}
.gzhel .meta-text .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
}
.gzhel .sup-content {
  display: flex;
  align-items: stretch;
  gap: 0.2rem;
  flex-wrap: wrap;
}
.gzhel .sup-content .sup {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  line-height: 1;
  flex: 1;
  border: 1px solid;
  background-color: rgba(212,175,55,0.502);
}
.gzhel .sup-content .sup:hover {
  background-color: #d4af37;
}
.gzhel .marker {
  width: 40px;
  height: 40px;
  border: 2px solid #05c;
  border-radius: 50%;
  background-color: rgba(0,85,204,0.102);
  cursor: pointer;
}
.gzhel [data-type].show {
  text-decoration: underline;
  color: #05c;
}
.gzhel [data-type].show.active {
  background-color: rgba(0,85,204,0.102);
}
