.suprematism aside {
  padding-top: 1rem;
  display: grid;
}
@media (min-width: 1200px) {
  .suprematism aside {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.suprematism #map {
  filter: saturate(10) invert(1);
}
.suprematism .meta-names {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.suprematism .meta-names li {
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  padding: 4px 0;
  font-family: "Rodchenko Grotesk", seif;
  color: #d4af37;
}
.suprematism .meta-names li.active {
  background-color: #000;
}
.suprematism .meta-content {
  padding: 1rem 0;
}
.suprematism .meta-content > div {
  gap: 1rem;
  flex-wrap: wrap;
}
.suprematism .meta-content > div.active {
  display: flex;
}
.suprematism .meta-line {
  grid-template-columns: 1fr auto;
  display: grid;
  gap: 0.2rem;
  flex-grow: 1;
}
.suprematism .meta-text {
  min-width: max-content;
  display: flex;
  border: 1px solid;
  justify-content: center;
  align-items: stretch;
  font-family: "Rodchenko Constructed", serif;
  font-size: 1.2em;
}
.suprematism .meta-text .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
}
.suprematism .meta-text .link:hover {
  background-color: #191970;
}
.suprematism .sup-content {
  display: flex;
  align-items: stretch;
  gap: 0.2rem;
  flex-wrap: wrap;
}
.suprematism .sup-content .sup {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  line-height: 1;
  flex: 1;
  border: 1px solid;
  background-color: rgba(212,175,55,0.502);
}
.suprematism .sup-content .sup:hover {
  background-color: #d4af37;
}
.suprematism .marker {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #00f;
}
.suprematism [data-type] {
  font-family: "Rodchenko Constructed", seif;
  line-height: 1;
}
.suprematism [data-type].show {
  border: 1px solid;
  display: inline-block;
  line-height: 1;
  text-align: center;
  background-color: rgba(212,175,55,0.631);
  padding: 5px;
  margin: 0;
  transition-property: font-size, color, border, background;
  transition-duration: 1s;
}
.suprematism [data-type].show.active {
  background-color: #191970;
}
