@import "./variables.styl"

.gzhel
    .section_0_1
        height calc(100vh - 3rem)
        background-image url(./img/ghzel/top.png)
        background-size auto 80%
        background-repeat no-repeat
        background-position top center
        display flex
        flex-direction column
        box-sizing border-box
        padding-bottom 1rem
        position relative
        color #003399
        justify-content center
        @media screen and (min-width: 576px)
            justify-content flex-end
            background-size auto 75vh
        &::before
            content ""
            position absolute
            height 100%
            background-color #fff8
            width 100%
            top 0
            @media screen and (min-width: 576px)
                background-color transparent
                height 75vh
        h1
            font-family "A la russ", serif
            text-transform uppercase
            justify-self center
            font-size 3rem
            text-align center
            position relative
            z-index 1
            @media screen and (min-width: 576px)
                font-size 5rem
        h2
            position absolute
            z-index 1
            text-align center
            justify-self center
            text-transform uppercase
            font-size 2vw
            margin 0
            bottom 1rem
            width 100%
            @media screen and (min-width: 576px)
                position relative
                bottom 0
                font-size 1.5vw
    .section_0_3
        article
            padding-top 2rem
            display grid
            gap 1rem
            img
                width 100%
            @media screen and (min-width: 576px)
                grid-template-columns repeat(2, 1fr)
                &:nth-of-type(2)
                    div
                        grid-row-start -1
    .section_0_4
        .home_issue
            display grid
            justify-content center
            gap 1rem
            margin-bottom 2rem
            img
                max-width 100%
        @media screen and (min-width: 576px)
            display grid
            grid-template-columns repeat(2, auto)
            gap 1rem
            justify-content center
            justify-items center
            h2
                grid-column-end span 2

    .section_0_5
        margin-bottom 2rem
    .section_1_1
    .section_2_1
    .section_3_1
        display none
    main .section_1_1
    main .section_2_1
    main .section_3_1
        display block
    main .section_3_1
        display flex
        flex-direction column
        &>*
            order 3
        .caption
            order 1
        h1
            order 2
