gz-text = #636060 // text
gz-primary = #003399 // link, text home title, h2, h3, letter, caption
gz-secondary = #0055cc // hover text link, text visible link
gz-secondary-10 = #0055cc1a // bg hover link
gz-secondary-50 = #0055cc80 // bg dropdown
gz-additional = #3439c0 // h1 (not home)
gz-btn = #3b40d9 // color/border btn
gz-white = #ffffff // text link
gz-white-50 = #ffffff80 // bg home-title
gz-list = #434141 // ul
gz-list-55 = #4341418c // figcaption



su-text = #dedede // main color
su-primary = #d4af37 // bg nav item, link text nav, dropdown bg, h2, caption h1, meta text, sup hover
su-primary-6 = #d4af370f // wrapper bg
su-primary-50 = #d4af3780 // bg dropdown, img style bg
su-primary-63 = #d4af37a1 // bg .home_design, bg h2 line, bg target
//su-primary-69 = #d4af37af // nav bg
su-secondary = #ff0000 // bg nav item, dropdown bg, hover text link, h1, bg img, .caption, figcaption text, figcap style bg
su-secondary-33 = #ff000055 // bg h3 .home_design
su-secondary-31 = #ff000050 // img style bg
su-additional = #191970 // bg hover for link, bg target active
su-white = #ffffff // link text, figcaption text
su-black = #000000 // navlink color, bg nav item, figcaption text, meta bg hhover
su-black-33 = #00000055 // figcap style bg
su-grey = #f2f2f2 // btn text color???, figcap style bg
su-grey-50 = #f2f2f280 // img style bg, sup bg

//@media screen and (min-width: 1200px)
//@media screen and (min-width: 576px)
//@media screen and (min-width: 1600px)