extends ../content/layout

block vars
    - let path = "../"
    - let title = "Joseph Stalin’s Paranoid Purge"

block content
    main.docs
        section.home_title
            h1
                span Documentation
