@import "./assets/variables.styl"

@import "./assets/header_su.styl";
@import "./assets/footer_su.styl";

@import "./assets/sections_su.styl";
@import "./assets/meta_su.styl";
@import "./assets/map_su.styl";

.suprematism
    background-color black
    background-image url("./img/suprematism/square.png")
    background-size cover
    background-attachment fixed
    color #dedede
    font-family NewsCycle, sans-serif
    font-weight bold
    main.show
        overflow hidden
        &::before
            content ""
            position fixed
            top 0
            left 0
            right 0
            bottom 0
            background-color #000c
            z-index 9


    h2
        font-family "Next Art", fantasy
        font-size 1.5rem
        position relative
        &::before
            content ""
            background-color #D4AF37a1
            width 50%
            height 10px
            position absolute
            top .8em
            z-index -1
        //display flex
        //justify-content center
        //align-items center
        //letter-spacing .3rem
        //max-width max-content
        //transform-style preserve-3d
        //color su-white
        //font-weight bold
        //&::after
        //    content attr(title)
        //    position absolute
        //    z-index -1
        //    transform perspective(1500px) translateZ(-1.5rem) translateX(.5rem) translateY(.15rem)  skewX(-40deg) scaleY(70%)
        //    color su-primary
        //    perspective-origin bottom left
        @media screen and (min-width: 768px)
            font-size 2rem
            letter-spacing .4rem
            &::after
                transform perspective(1500px) translateZ(-2rem) translateX(.5rem) translateY(.2rem) skewX(-40deg) scaleY(70%)
    p
        font-size 20px
        letter-spacing .1rem
        font-family NewsCycle, sans-serif
        text-align justify
        hyphens auto
        text-wrap balance
    .wrapper
        padding 0 24px
        background-color #D4AF370f
        @media screen and (min-width: 576px)
            padding 0 20px 0 220px
        @media screen and (min-width: 1200px)
            padding 0 50px 0 250px
    .home
        display grid
        align-content flex-start
        align-items flex-start
        gap 0 2rem
        @media screen and (min-width: 1200px)
            grid-template-columns repeat(3, 1fr)
    img, video
        max-width 100%
    .custom_btn
        font-weight bold
        align-self baseline
        background-color su-black
        color #f2f2f2
        border 2px solid
        display flex
        padding .6rem 4rem
        width max-content
        align-items center
        font-family "Next Art", fantasy
        &:hover
            //color su-black
            background-color su-primary-50
        &:disabled
            cursor auto
            //opacity .4
            &:hover
                background-color su-black


    .p1_2
        position relative
        display block
        img
            line-height 1
        &::after
            content ""
            position absolute
            display block
            top 0
            left 0
            right 0
            bottom 0
            width 100%
            height: 100%
            background-image url(./img/suprematism/pic_1_2.png)
            background-size 100%
            background-repeat no-repeat
            background-position left top
            z-index 1
            animation opacity 10s linear infinite
    .p1_3
        position relative
        display block
        img
            line-height 1
        &::after
            content ""
            position absolute
            display block
            top 0
            left 0
            right 0
            bottom 0
            width 100%
            height 100%
            background-image url(./img/suprematism/pic_1_3.png)
            background-size cover
            background-repeat no-repeat
            background-position right top
            z-index 1
            animation translate 10s linear 3s infinite
    .p1_6
        position relative
        display block
        img
            line-height 1
        &::after
            content ""
            position absolute
            display block
            top 0
            left 0
            right 0
            bottom 0
            width 100%
            height: 100%
            background-image url(./img/suprematism/pic_1_6.png)
            background-size 100%
            background-repeat no-repeat
            background-position left top
            z-index 1
            animation opacity 10s linear infinite
    .p3_1
        position relative
        display block
        height max-content
        img
            line-height 1
        &::after
            content ""
            position absolute
            display block
            top 0
            left 0
            right 0
            bottom 0
            width 100%
            height 100%
            background-image url(./img/suprematism/pic_3_1.png)
            background-color red
            background-size contain
            background-repeat no-repeat
            background-position left top
            animation opacity 5s linear infinite
            z-index 1
    .caption
        font-family "Rodchenko Constructed", serif
        font-size 6rem
        color #f00
        line-height 1
    .content
        section
            //height 100vh
            box-sizing border-box
            column-count 2
            //column-rule .2rem dashed red
            column-gap 2rem
            padding 0
            @media screen and (min-width: 1200px)
                column-count 4
                column-gap 2rem
            h2
                column-span all
                position relative
                &::before
                    content ""
                    background-color #D4AF37a1
                    width 50%
                    height 10px
                    position absolute
                    top .8em
                    z-index -1
            &.section_2_2
            &.section_1_2
            &.section_3_2
                margin-top 2rem
            &.section_2_1
            &.section_1_1
            &.section_3_1
                column-count 1
                padding 3rem 0
                display grid
                grid-template-columns 1fr 2fr
                grid-template-rows auto auto auto 1fr
                gap 1rem 2rem
                align-content flex-start
                align-items flex-start
                .caption
                    grid-column-end span 2
                    margin 2rem 0
                    text-align left
                h1:not(.caption)
                    grid-column-start 2
                    font-family "Rodchenko Grotesk"
                    color #D4AF37
                    text-align right
                figure
                    grid-column-start 2
                    grid-row-start 3
                    grid-row-end span 2
                    width 100%
                p:not(.caption)
                    grid-row-start 4
                    column-count 2
                    column-gap 2rem
                    margin 0
            &.section_1_1
                figure
                    grid-column-start 1
                    grid-row-start 3
                p:not(.caption)
                    grid-row-start 4
                    grid-column-start 2
                    column-count 2
                    column-gap 2rem
                    margin 0
            &.section_3_1
                grid-template-rows auto auto 1fr
                figure
                    grid-column-start 1
                    grid-row-start 2
                    grid-row-end span 5
                p:not(.caption)
                    grid-row-start auto
                    column-count 2
                    column-gap 2rem
                    margin 0
                    &:nth-of-type(1)
                        column-count 1
                    &:nth-of-type(2)
                        column-count 1
            &.section_3_9
                column-count 1
        figure
            position relative
            height max-content
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction column
            figcaption
                font-size 50%
                align-self flex-start
            &.style1
                &::before
                    background-color: #ff000050;
                figcaption
                    background-color: #0005;
                    color: #fff;
                    padding: 8px;
                    width: 60%;
                    top: 50%;
                    transform: rotate(-24deg);
                    max-width: max-content;
                    z-index: 2;
                    position: absolute;
            &.style2
                &::before
                    background-color: #d4af3780;
                figcaption
                    background-color: #f2f2f2;
                    color: #f00;
                    padding: 8px;
                    width: 300px;
                    top: 0;
                    right: 0;
                    transform: rotate(90deg) translate(200px, -300px);
                    transform-origin: top left;
                    z-index: 2;
                    position: absolute;
            &.style3
                &::before
                    background-color: #f2f2f280;
                    backdrop-filter: invert(20%) contrast(100%);
                figcaption
                    background-color: #f00;
                    color: #000;
                    padding: 8px;
                    width: 400px;
                    max-width: 100%;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    position: absolute;
            &.style4 figcaption
                    display none
    .popup_container
        position fixed
        background-color su-black
        top 0
        left 0
        right 0
        bottom 0
        z-index 10
        padding 2rem
        display none
        justify-content: center;
        align-items: center;
        &.active
            display flex
        .popup
            box-sizing border-box
            border 2px solid su-primary
            padding 1rem 2rem
            position relative
            p
                font-size .4rem
            .popup_close
                width 2rem
                height 2rem
                background-color su-additional
                border-radius 1px
                right 0
                top 0
                position fixed
                padding 0
                svg
                    width 100%
                    height 100%
                    fill su-white
            ul
                margin-bottom 1rem;
                li
                    display grid
                    grid-template-columns auto 1fr
                    gap 1rem
                    margin-bottom 1rem
                    font-size .4rem
                    span
                        color su-secondary
                a
                    text-wrap wrap

        @media screen and (min-width: 576px)
            left 200px
        @media screen and (min-width: 768px)
            .popup
                p
                ul li
                    font-size .6rem
        @media screen and (min-width: 1200px)
            .popup
                min-width 60%
                max-width 80%
                .popup_close
                    position absolute
                p
                ul li
                    font-size 1rem
            p
                column-count 2
                column-gap 2rem

    .hidden_char
        display none
    .docs
        h2::before
            content ""
            background-color #D4AF37a1
            width 50%
            height 10px
            position absolute
            top .8em
            z-index -1
        h3
            color su-primary
            column-span all
            font-weight bold
            font-family "Rodchenko Grotesk"
            margin 1rem 0
        article
            column-count 2
            column-gap 2rem
        img
            width 100%
            margin-bottom 1rem
        ul
            margin-bottom 2rem
            list-style disc inside
            font-weight bold
            font-size 20px
            letter-spacing .1rem
            font-family NewsCycle, sans-serif
            text-align justify
            hyphens auto
            text-wrap balance

        @media screen and (min-width: 1200px)
            article
                column-count 4

